<br>
<br>
<h2>Tooltips example:</h2>
<p><span [tooltip]="{position:'top'}">Lorem<ng-template #tooltipTemplate>Lorem</ng-template></span> Ipsum is simply
  dummy <span [tooltip]="{position:'right'}">text</span> of the printing and typesetting industry. Lorem Ipsum has been
  the industry's standard dummy text ever
  since the <span [tooltip]="{position:'left'}">1500s<ng-template #tooltipTemplate>1500s</ng-template></span>, when an
  unknown printer took a galley of type and scrambled it to make a type specimen <span [tooltip]="{position:'bottom'}">book</span>.
</p>
<p>It has survived not only five <span [tooltip]>centuries</span>, but also the leap into electronic typesetting,
  remaining essentially
  unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
  <span [tooltip]="{position:'top'}">Lorem Ipsum<ng-template #tooltipTemplate>LI</ng-template></span> passages, and
  more recently with desktop publishing software like <span [tooltip]="{position:'bottom'}">Aldus PageMaker</span>
  including versions of Lorem Ipsum.
</p>



